@font-face {
    font-family: "Heebo";
    src: url(./fonts/Heebo-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Heebo";
    src: url(./fonts/Heebo-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Heebo";
    src: url(./fonts/Heebo-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Heebo";
    src: url(./fonts/Heebo-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Circular Std";
    src: url(./fonts/CircularStd-Book.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Circular Std";
    src: url(./fonts/CircularStd-Book.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
	--primary: #ff6464;
	--secondry: #00a8cc;
	--dark: #21243d;
	--light: #8695a4;

    --font-family: "Heebo", sans-serif;
    --second-family: "Circular Std", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1152px;
}
/* Header */

.header__wrapper {
    max-width: 1152px;
    display: flex;
    flex-direction: column;
    gap: 140px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 33px;
    padding: 27px 60px;
}

.menu_item {
    list-style-type: none;
}

.menu_item a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    color: #000;
    text-decoration: none;
}

.header__button_menu_burger {
    display: none;
}

.paragraph {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--dark);
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 0px 148px 88px;
}

.header__bottom_left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header__left_h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 44px;
    line-height: 136%;
    color: var(--dark);
}

.header__left_button {
    border: none;
    border-radius: 2px;
    width: 208px;
    height: 47px;
    background: var(--primary);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

/* Section one */

.section__wrapper_one {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 7px 148px 32px;
    background: #edf7fa;
}

.section__one_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__one_top a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: var(--secondry);
    text-decoration: none;
}

.section_h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 273%;
    color: var(--dark);
}

.section__one_bottom {
    display: flex;
    gap: 20px;
}

.section__block {
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-radius: 4px;
    max-width: 418px;
    box-shadow: 0 4px 10px 0 rgba(187, 225, 250, 0.25);
    background: #fff;
    padding: 24px 36px 28px 23px;
}

h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    color: var(--dark);
}

.section__block_data {
    display: flex;
    align-items: center;
    gap: 20px;
}

.paragraph_size {
    font-size: 18px;
}

/* Section two */

.section__wrapper_two {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px 148px 83px;
}

.section__two_bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section__two_block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section__two_block img {
    border-radius: 6px;
    width: 246px;
    height: 180px;
}

.block_wrapper {
    display: flex;
    align-items: center;
    gap: 18px;
}

.section_block_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.section_info_tags {
    display: flex;
    align-items: center;
    gap: 36px;
}

span {
    width: 62px;
    border-radius: 16px;
    background: #142850;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.tags_light {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--light);
}

.size_h3 {
    font-size: 30px;
}

hr {
    border: none;
    max-width: 858px;
    height: 1px;
    background: #e0e0e0;
}

/* Footer */

.footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    padding: 0 0 54px 0;
}

.footer__social_icon {
    display: flex;
    gap: 35px;
}

.footer__p {
    text-align: center;
    font-size: 14px;
}

/* Adaptive */

@media (max-width: 920px) {
    .header__bottom {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 34px;
        padding: 0px 24px 58px;
        
    }

    .header__left_h1 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        line-height: 125%;
        text-align: center;
        color: var(--dark);
    }

    .header__left_button {
        margin: 0 auto;
    }

    .header__left_p {
        text-align: center;
    }

    .header__bottom_left {
        gap: 24px;
    }

    .header__bottom_right img {
        width: 174px;
        height: 180px;
    }

    .section__wrapper_one {
        padding: 22px 11px 38px;
    }

    .block_two, .block_three {
        display: none;
    }

    .section__wrapper_two {
        align-items: center;
        gap: 20px;
        padding: 25px 12px 150px;
    }
}

@media (max-width: 740px) {
    .section__one_top a {
        display: none;
    }

    .section__wrapper_one {
        align-items: center;
        gap: 15px;
        padding: 22px 11px 38px;
    }

    .section_h2 {
        font-size: 18px;
    }

    .section__one_bottom {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    .section__block {
        gap: 12px;
        max-width: 354px;
        padding: 12px 8px 22px 19px;
    }

    h3 {
        font-size: 22px;
    }
    
    .paragraph_size {
        font-size: 16px;
    }
}

@media (max-width: 610px) {
    .block_wrapper {
        flex-direction: column;
    }

    .section__two_block img {
        width: 339px;
        height: 230px;
    }

    .size_h3 {
        font-size: 24px;
    }

    span {
        font-size: 16px;
    }

    .tags_light {
        font-size: 16px;
    }
}

@media (max-width: 540px) {

    .header__wrapper {
        gap: 33px;
    }

    .menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: end;
        padding: 20px 18px 12px 0px;
    }

    .header__button_menu_burger {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }
}